{
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "no-unused-vars": 1,
    "no-console": 1
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "jQuery": true,
    "$": true,
    "window": true,
    "THREE": true,
    "GPUComputationRenderer": true
  }
}
