<!DOCTYPE html>
<html lang="ja">
<% include('./const/_path') %>
<% include('./const/_siteData') %>
<%- include('./base/_header') %>
<body>
    <main id="main" role="main">
        <canvas id="canvas"></canvas>
        <%- include('./pages/_' + name) %>
    </main>
    <%- include('./base/_footer') %>
</body>
</html>